.category-section {
  padding: 40px 20px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

/* .category-card {
  height: 120px;
  padding: 15px;
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
} */

.category-card {
  position: relative;
  overflow: hidden; /* Bahar nikle hue decoration ko katne ke liye */
  min-height: 120px;
  display: flex;
  align-items: flex-start;
  padding: 20px;
  cursor: pointer;
}

.card-decoration {
  position: absolute;
  background: rgba(255, 255, 255, 0.15);
  width: 80px;
  height: 80px;
  bottom: -20px;
  right: -20px;
  transform: rotate(25deg);
  border-radius: 8px;
  pointer-events: none; /* Is par click na ho */
}
.category-card h3 {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}